<div class="page-header">
  <h2>
  	<span class="glyphicon glyphicon-list-alt"></span>
  	Etat de services de 
    <%= link_to @intervenant.nom_prenom, edit_intervenant_path(@intervenant), target:"_new" %>
    du <%= l(@start_date.to_date) %> 
    au <%= l(@end_date.to_date) %>
  </h2>
  <h4>Heures statutaires: <%= @intervenant.nbr_heures_statutaire %></h4>
</div>

<!--
  <%= simple_format(@stream) %>
-->

<table class="table table-hover">

  <thead>
    <th>Le</th>
    <th>Formation</th>
    <th>Code</th>
    <th>Intitulé</th>
    <th>Durée</th>
    <th>HSS?</th>
    <th>Taux</th>
    <th>HETD</th>
    <th>Cumul HETD</th>
  </thead>

  <% @cours.each do |c| %>
    <% unless c.hors_service_statutaire %>
      <% @cumul_hetd += c.HETD %>
    <% end %>

    <tr>
      <td><%= l(c.debut, format: :short) %></td>
      <td><%= link_to c.formation.nom, edit_formation_path(c.formation), target:"_new" %></td>
      <td><%= c.formation.Code_Analytique %></td>
      <td><%= link_to c.nom_ou_ue, edit_cour_path(c), target:"_new" %></td>
      <td><%= c.duree.to_f %></td>
      <td>
        <% if c.hors_service_statutaire %>
          <span class="glyphicon glyphicon-check">
        <% end %>
      </td>
      <td><%= c.Taux_TD %></td>
      <td><%= c.HETD %></td>
      <td><%= @cumul_hetd %></td>
    </tr>
  <% end %>

  <tfoot>
    <th colspan="2">Total: <%= @cours.count %> cours</th>
    <th /><th />
    <th><%= @cours.sum(:duree) %>h</th>
    <th /><th />
    <th><%= @cumul_hetd %>h</th>
    <% if @intervenant.nbr_heures_statutaire %>
      <th>Solde: <%= @cumul_hetd - @intervenant.nbr_heures_statutaire %>h</th>
    <% end %>
  </tfoot>

</table>
