<script>
  $(document).ready(function() { $(".select2").select2({theme: "bootstrap"}); });
</script>

<div class="page-header">
  <h1>
  	<span class="glyphicon glyphicon-list-alt"></span>
  	Etats de services
  </h1>
</div>

<div>
  <h3>Récapitule les cours <b>réalisés</b> sur une période donnée par un intervenant</h3>
  <i>(Formations archivées comprises)</i>
</div>
<br>

<%= form_tag(request.path, method: :get) do %>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
                <%= label_tag "Du" %>    
                <%= text_field_tag :start_date, params[:start_date], type:'date', class:"form-control" %>
            </div>

            <div class="col-sm-2">
                <%= label_tag "Au" %>    
                <%= text_field_tag :end_date, params[:end_date], type:'date', class:"form-control" %>
            </div>

            <div class="col-sm-2">
                <%= label_tag :status, "Statut" %>
                <%= select_tag :status, 
                    options_for_select(Intervenant.statuses, 
                    params[:status]), include_blank:true,
                    class:"form-control", onchange:'this.form.submit()' %>
            </div>

            <% if @intervenants %>
                <div class="col-sm-4">
                    <%= label_tag :intervenant_id, "Intervenant" %>
                    <div class="input-group">
                        <%= select_tag :intervenant_id,
                            options_from_collection_for_select(@intervenants, :id, :nom_prenom, params[:intervenant_id]), 
                                                                include_blank:true, onchange:'this.form.submit()', class:"form-control select2" %>
                        <span class="input-group-btn">
                        <%= submit_tag 'Afficher', class:"btn btn-success" %>
                        </span>
                    </div>
               </div>
            <% end %>
        </div>
    </div>
<% end %>

<% if @cours %>
    <% @cours.joins(:intervenant).reorder("intervenants.nom, cours.debut").group(:intervenant_id).pluck(:intervenant_id).each do | intervenant_id | %>
        <% next if intervenant_id == 445 %>

        <% intervenant = Intervenant.find(intervenant_id) %>

        <% cours = @cours.where(intervenant: intervenant).order(:debut) %>

        <% if intervenant && cours %>
            <% @vacations = intervenant.vacations.where("date BETWEEN ? AND ?", @start_date, @end_date) %>

            <% @responsabilites = intervenant.responsabilites.where("debut < DATE(?) AND fin > DATE(?)", @end_date, @start_date) %>

            <% cumul_hetd = cumul_vacations = cumul_resps = cumul_tarif = 0 %>

            <div class="page-header"> 
                <h2><%= link_to intervenant.nom_prenom, intervenant %></h2>
            </div> 

            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Formation</th>
                    <th>Code</th>
                    <th>Intitulé</th>
                    <th></th>
                    <th>Durée</th>
                    <th>HSS?</th>
                    <th>E-learning?</th>
                    <th>CM/TD</th>
                    <th>Taux</th>
                    <th>HETD</th>
                    <th>Montant</th>
                </thead>

                <% cours.each do |c| %>
                    <% unless c.hors_service_statutaire %>
                        <% cumul_hetd += c.HETD %>
                        <% montant_service = (c.HETD * Cour.Tarif).round(2) %>
                        <% cumul_tarif += montant_service %>
                    <% end %>
                    <% formation = Formation.unscoped.find(c.formation_id) %>
                    <tr>
                        <td><%= l(c.debut.to_date) %></td>
                        <td class="text-right"><%= c.debut.strftime("%k:%M") %></td>
                        <td><%= link_to formation.nom, formation_path(formation), target:"_new" %></td>
                        <td><%= formation.Code_Analytique %></td>
                        <td><%= link_to "#{c.ue} #{c.nom_ou_ue}", edit_cour_path(c), target:"_new" %></td>
                        <td>
                            <% unless c.commentaires.blank? %>
                                <span class="glyphicon glyphicon-comment" title="<%= c.commentaires %>" />
                            <% end %>
                        </td>
                        <td class="text-right"><%= c.duree.to_f %></td>
                        <td class="text-center">
                            <% if c.hors_service_statutaire %>
                                <span class="glyphicon glyphicon-remove">
                            <% end %>
                        </td>
                        <td class="text-center">
                            <% if c.elearning %>
                                <span class="glyphicon glyphicon-ok-circle">
                            <% end %>
                        </td>
                        <td class="text-center"><%= c.CMTD? %></td>
                        <td class="text-right"><%= c.Taux_TD %></td>
                        <td class="text-right"><%= c.HETD %></td>
                        <td class="text-right"><%= number_to_currency(montant_service) %></td>
                    </tr>
                <% end %>

                <tr>
                    <th colspan="5">Total: <%= cours.count %> cours</th>
                    <th />
                    <th class="text-right"><%= cours.sum(:duree) %></th>
                    <th /><th /><th /><th /> 
                    <th class="text-right"><%= cumul_hetd %></th>
                    <th class="text-right"><%= number_to_currency(cumul_tarif) %></th>    
                </tr>

                <% @vacations.each_with_index do |vacation, index| %>
                    <% montant_vacation = ((Cour.Tarif * vacation.forfaithtd) * vacation.qte).round(2) %>
                    <% cumul_vacations += montant_vacation %> 
                    <tr>
                        <td><%= l vacation.date %></td>
                        <td />
                        <td><%= link_to vacation.formation.nom, vacation.formation, target:"_new" %></td>
                        <td><%= vacation.formation.Code_Analytique %></td>
                        <td><%= vacation.titre %></td>
                        <td />
                        <td class="text-right"><%= vacation.qte %></td>
                        <td colspan="4">
                        <td class="text-right"><%= vacation.forfaithtd %></td>
                        <td class="text-right"><%= number_to_currency(montant_vacation) %></td>
                    </tr>

                    <% if index == @vacations.size - 1 %>
                    <tr>
                        <th colspan="12">Total: <%= pluralize(@vacations.count, 'vacation') %></th>
                        <th class="text-right"><%= number_to_currency(cumul_vacations) %></th>
                    </tr>
                    <% end %>
                <% end %>

                <% @responsabilites.each_with_index do |resp, index| %>
                    <% montant_responsabilite = (resp.heures * Cour.Tarif).round(2) %>
                    <% cumul_resps += montant_responsabilite %>
                    <tr>
                        <td><%= l resp.debut %></td>
                        <td><%= l resp.fin %></td>
                        <td><%= link_to resp.formation.nom, resp.formation, target:"_new" %></td>
                        <td><%= resp.formation.Code_Analytique %></td>
                        <td><%= resp.titre %></td>
                        <td />
                        <td class="text-right"><%= resp.heures %></td>
                        <td colspan="5" />
                        <td class="text-right"><%= number_to_currency(montant_responsabilite) %></td>
                    </tr>
                    <% if index == @responsabilites.size - 1 %>
                        <tr>
                            <th colspan="12">Total: <%= pluralize(@responsabilites.count, 'responsabilité') %></th>
                            <th class="text-right"><%= number_to_currency(cumul_resps) %></th>
                        </tr>
                    <% end %>
                <% end %>

                <tfoot>
                    <th colspan="12" class="text-center">
                        <% unless intervenant.nbr_heures_statutaire.blank? %>
                            <i>
                                Nbr Heures Statutaires: 
                                <%= number_with_precision(intervenant.nbr_heures_statutaire, precision:1) %>h.
                                Solde: 
                                <%= number_with_precision(intervenant.nbr_heures_statutaire - cumul_hetd, precision:1) %>h
                            </i>
                        <% end %>
                    </th>
                    <th class="text-right"><%= number_to_currency(cumul_resps + cumul_vacations + cumul_tarif ) %></th>
                </tfoot>

            </table>

        <% end %>
    <% end %>
    <span>
        <%= link_to url_for(params.merge(format:'csv')), class: 'btn btn-info' do %>
            <span class="glyphicon glyphicon-share"></span>
            Export CSV
        <% end %>
    </span>
    <br><br><br>
<% end %>