<div class="page-header">
  <h1>
  	<span class="glyphicon glyphicon-download-alt"></span>
  	Import de cours
  </h1>
</div>

<%= form_tag({action: "import_do", method: :post}, multipart: true) do %>
  <div>
    <h3>Cette fonction permet l'importation de cours à partir d'un fichier CSV</h3>
    <ul>
      <li>
          Le fichier source peut avoir les colonnes suivantes: 
          <b>Date;Heure début;Heure fin;UE;Intervenant (Nom Prénom);Intitulé</b>
      </li>
      <li>Ce fichier doit être au format CSV, Encodage=iso-8859-1, Séparateur=Point-virgule, Noms colonnes=Première ligne</li>
      <li>Si, pour une même formation, un cours existe déjà à la même heure; il sera mis à jour sinon il sera créé.</li>
      <li>Exemple de fichier conforme : <%= link_to "exemple_import_cours.csv", "/exemple_import_cours.csv" %></li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= label_tag "Formation" %>    
      <%= select_tag :formation_id, 
            options_from_collection_for_select(Formation.all, :id, :nom_promo, params[:formation_id]), 
              class:"form-control", include_blank:true %>
    </div>
  </div>

  <div class="field">
    <%= label :filename, "Fichier source" %>
    <%= file_field_tag 'upload', accept: 'text/csv' %>
  </div>
  <br>

  <div class="field">
    <b>Ignorer les tests de validation</b> <br>
    <%= label :skip_validation, "Oui", :value => "true" %>
    <%= radio_button_tag :skip_validation, true %>
    <%= label :skip_validation, "Non", :value => "false" %>
    <%= radio_button_tag :skip_validation, false, :checked => true %>
    <i>Choisissez 'Oui' pour ignorer les tests de chevauchements si cet import a pour but la modification de cours déjà existants</i><br />
  </div>
  <br>
  
  <div class="field">
    <b>Enregistrer les changements ?</b> <br>
    <%= label :save, "Oui", :value => "true" %>
    <%= radio_button_tag :save, true %>
    <%= label :save, "Non", :value => "false" %>
    <%= radio_button_tag :save, false, :checked => true %>
    <i>Choisissez 'Non' pour tester votre import car <b>il est irréversible !</b></i><br />
  </div>
  <br>
  
  <div class="actions">
    <%= submit_tag "Lancer l'import", class: "btn btn-primary"%>
  </div>
<% end %>
<br>
