<script>
  $(document).ready(function() { $(".select2").select2({theme: "bootstrap"}); });
</script>

<div class="page-header">
  <h1>
  	<span class="glyphicon glyphicon-download-alt"></span>
  	Import de cours
  </h1>
</div>

<%= form_tag({action: "import_do", method: :post}, multipart: true) do %>
  <div>
    <h3>Cette fonction permet l'importation de cours à partir d'un fichier Excel</h3>
    <ul>
      <li>
        Le fichier source doit contenir les même colonnes que le fichier généré lors de l'export Excel: <br>
      </li>
      <li>
        Si 'id' est égal à '0', c'est une création de cours, sinon c'est une mise à jour du cours ayant comme identifiant unique l'id' donné. Si le cours ayant cet 'id' n'existe pas, il sera créé.
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= label_tag "Formation" %>    
      <%= select_tag :formation_id, 
            options_from_collection_for_select(Formation.all, :id, :nom, params[:formation_id]), 
              class:"form-control select2", include_blank:true %>
    </div>
  </div>

  <div class="field">
    <%= label :filename, "Fichier source" %>
    <%= file_field_tag 'upload', accept: '.xls' %>
  </div>
  <br>
  
  <div class="field">
    <b>Enregistrer les changements ?</b> <br>
    <%= label :save, "Oui", :value => "true" %>
    <%= radio_button_tag :save, true %>
    <%= label :save, "Non", :value => "false" %>
    <%= radio_button_tag :save, false, :checked => true %>
    <i>Choisissez 'Non' pour tester votre import car <b>il est irréversible !</b></i><br />
  </div>
  <br>
  
  <div class="actions">
    <%= submit_tag "Lancer l'import", class: "btn btn-success" %>
  </div>
<% end %>
<br>
