<div class="page-header">
  <h1>
  	<span class="glyphicon glyphicon-wrench"></span>
  	Outils
  </h1>
</div>

<ul>
  	<li>
		<span class="glyphicon glyphicon-blackboard"></span>
		<%= link_to "Salles", salles_path %>
	</li>
	<br>

	<li>
		<span class="glyphicon glyphicon-user"></span>
		<%= link_to "Utilisateurs", users_path %>
	</li>
	<br>


	<li>
		<span class="glyphicon glyphicon-book"></span>
		<%= link_to "Documents", documents_path %>
	</li>
	<br>

	<li>
		<span class="glyphicon glyphicon-download-alt"></span>
		<%= link_to "Import de cours", tools_import_path %>
	</li>
	<br>

	<li>
		<span class="glyphicon glyphicon-repeat"></span>
		<%= link_to "Création de cours en masse", tools_creation_cours_path %>
	</li>

</ul>
