<%= bootstrap_form_for(@intervenant) do |f| %>
  <% if @intervenant.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3><%= t('activerecord.errors.template.header',
                  model: Intervenant.model_name.human, count: @intervenant.errors.count) %></h3>
      <ul>
      <% @intervenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-5">
      <%= f.text_field :nom %>
      <%= f.text_field :prenom, label:"Prénom" %>
      <%= f.text_field :email %>
      <%= f.text_field :linkedin_url %>
      <%= f.file_field :photo %>

      <%= f.submit class: "btn btn-primary" %>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :titre1 %>
      <%= f.text_field :titre2 %>
      
      <div class="form-group">
        <%= f.select(:status, Intervenant.statuses.keys.to_a) %>
      </div>

      <%= f.text_field :spécialité %>
      <div class="col-sm-6">
        <%= f.text_field :téléphone_fixe %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :téléphone_mobile %>
      </div>
      <%= f.text_field :bureau %>
    </div>   

  </div>

<% end %>
