<div class="page-header">
  <%= link_to new_intervenant_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Intervenant
  <% end %>
  <h1>
    <span class="glyphicon glyphicon-user"></span>
    Liste des intervenants
  </h1>
</div>

<div class='container-fluid'>
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-3">
          <%= label_tag :nom, "Nom/Prénom" %>    
          <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
        </div>
        <div class="col-sm-3">
          <%= label_tag :status, "Statut" %>
          <div class="input-group">
            <%= select_tag :status, options_for_select(Intervenant.statuses, params[:status]), include_blank:true,
                  class:"form-control", onchange:'this.form.submit()' %>
            <span class="input-group-btn">
              <%= submit_tag 'Filtrer', class:"btn btn-success" %>
            </span>
          </div>
        </div>
      </div>
    </div>  
  <% end %>
</div>

<% if @intervenants.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th colspan="2">Nom/Prénom Intervenant</th>
          <th>Titre</th>
          <th>Status</th>
          <th>Spécialité</th>
          <th>Formations</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <% 7.times do %><th /><% end %>
        </tr>
      </tfoot>

      <tbody>
        <% @intervenants.includes(:cours).each do |intervenant| %>
          <tr>
            <td>
              <% if intervenant.photo.url %>
                <%= link_to(image_tag(intervenant.photo.url, class: "img-circle", size:'45x45'), intervenant) %>
              <% end %>
            </td>
            <td><b><%= link_to intervenant.nom_prenom, intervenant %></b></td>
            <td><%= intervenant.titre1 %></td>
            <td><%= intervenant.status.humanize if intervenant.status %></td>
            <td><%= intervenant.spécialité %></td>
            <td><%= intervenant.formations.pluck(:nom).uniq.join(' | ') %></td>
            <td>
              <%= link_to edit_intervenant_path(intervenant), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <% unless intervenant.cours.any? %> 
                <%= link_to(intervenant, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @intervenants, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>


