<div class="page-header">
  <%= link_to new_intervenant_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Intervenant
  <% end %>
  <h1>Liste des intervenants</h1>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <%= label_tag "Nom" %>    
            <div class="input-group">
            <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
              <span class="input-group-btn">
                <%= submit_tag 'Rechercher', class:"btn btn-success" %>
              </span>
            </div>
          </div>
        </div>
      </div>  
    <% end %>
</div>

<% if @intervenants.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th />
          <th>Nom</th>
          <th>Prénom</th>
          <th>Courriel</th>
          <th>Cours planifiés</th>
          <th>Heures planifiées</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <% 7.times do %><th /><% end %>
        </tr>
      </tfoot>

      <tbody>
        <% @intervenants.includes(:cours).each do |intervenant| %>
          <tr>
            <td>
              <% if intervenant.linkedin_photo %>
                <%= link_to( image_tag(intervenant.linkedin_photo, class:"img-circle", size:'60x60'), intervenant) %>
              <% end %>
            </td>
            <td><b><%= link_to intervenant.nom.upcase, intervenant %></b></td>
            <td><%= intervenant.prenom %></td>
            <td><%= intervenant.email %></td>
            <th>
              <%= link_to "#{intervenant.total_cours}", cours_path(intervenant_id:intervenant) %>
            </th>
            <td>
              <%= link_to "#{intervenant.total_heures_de_cours} h", cours_path(intervenant_id:intervenant) %>
            </td>
            <td>
              <%= link_to edit_intervenant_path(intervenant), class: "btn btn-default" do %>
                <i class="glyphicon glyphicon-pencil"></i>
              <% end %>
              <% unless intervenant.cours.any? %> 
                <%= link_to(intervenant, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>