<div class="page-header">
  <% if current_user.admin? %>
    <%= link_to intervenants_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    
    <a href="#audit" data-toggle="collapse" class='btn btn-default'>
      <span class="glyphicon glyphicon-search"></span>
      Audit
    </a>

    <%= link_to edit_intervenant_path(@intervenant), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifier
    <% end %>
  <% end %>
  <br><br>  
</div>

<p>
  <% if @intervenant.photo.url %>
    <%= image_tag(@intervenant.photo.url, class: "img-circle", size:'50x50') %>
    <br>
  <% else %>
    <h1>
      <span class="glyphicon glyphicon-user"></span>
    <h1>
  <% end %>
</p>

<h2>
  <%= @intervenant.nom_prenom %> 
</h2>

<div class="row">
  <div class="col-sm-6">
    <p>
      <b><%= @intervenant.titre1 %></b>
    </p>
    <p>
      <%= @intervenant.titre2 %>
    </p>
    <p>
      <i><%= "Spécialité: #{@intervenant.spécialité}" unless @intervenant.spécialité.blank? %></i>
    </p>
    <p>
      <%= "Statut: #{@intervenant.status.humanize}" if @intervenant.status %>
    </p>
    <br>

    <p>
      <strong><%= "Formation".pluralize(@formations.count) %> <%= "dispensée".pluralize(@formations.count) %></strong>
    </p>

    <% @formations.each do | formation | %>
      <%= link_to formation.nom, cours_path(formation_id:formation, intervenant_id:@intervenant, filter:'all') %>

      <% cours = formation.cours.where(etat:Cour.etats[:planifié], intervenant_id:@intervenant).order(:debut) %>
      <% if cours.any? %>
        (<%= cours.sum(:duree) %>h planifiées, premier cours le: <%= l(cours.first.debut, format: :short) %>)
      <% end %>
      <br>
    <% end %>

    <% if @intervenant.doublon %> 
      <p> 
          <br><strong>Doublons autorisés !</strong>
      </p>
    <% end %>

  </div>

  <div class="col-sm-3">
    <p>
      <strong>Fixe</strong><br>
      <%= @intervenant.téléphone_fixe %>
    </p>
    <p>
      <strong>Mobile</strong><br>
      <%= @intervenant.téléphone_mobile %>
    </p>
    <p>
      <strong>Courriel</strong><br>
      <%= mail_to @intervenant.email %>
    </p>
    <p>
      <strong>Bureau</strong><br>
      <%= @intervenant.bureau %>
    </p>
  </div>

  <div class="col-sm-3">
    <p>
      <strong>Date remise dossier SRH</strong><br>
      <%= l(@intervenant.remise_dossier_srh.to_date) if @intervenant.remise_dossier_srh %>
    </p>
    <p>
      <strong>Adresse</strong><br>
      <%= @intervenant.adresse %>
    </p>
    <p>
      <strong>Ville</strong><br>
      <%= @intervenant.cp %> <%= @intervenant.ville %>
    </p>
  </div>

</div>
<br>

<div id="audit" class="collapse">
  <% if current_user.admin? %>
    <% if @intervenant.audits.any? %>
      <h3>Audit des modifications</h3>
      <table class="table table-condensed">
        <% @intervenant.audits.includes(:user).reverse.each do |audit| %>
          <tr>
            <td><%= l(audit.created_at, format: :short) %></td>
            <td><%= audit.user.email if audit.user %></td>
            <td><%= audit.action %></td>
            <td><%= audit.audited_changes %></td>
          </tr>  
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>
