<div class="page-header">
  <% if current_user.admin? %>
    <%= link_to intervenants_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    <%= link_to edit_intervenant_path(@intervenant), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifier
    <% end %>
  <% end %>
  <br><br>  
</div>

<p>
  <%= image_tag(@intervenant.photo.url, class: "img-circle", size:'150x150') %>
</p>

<h2>
  <%= @intervenant.nom_prenom %> 
</h2>

<div class="row">
  <dir class="col-sm-4">
    <p>
      <b><%= @intervenant.titre1 %></b>
    </p>
    <p>
      <%= @intervenant.titre2 %>
    </p>
    <p>
      <i><%= "Spécialité: #{@intervenant.spécialité}" unless @intervenant.spécialité.blank? %></i>
    </p>
  </dir>
  <dir class="col-sm-4">
    <p>
      <strong>Fixe</strong><br>
      <%= @intervenant.téléphone_fixe %>
    </p>
    <p>
      <strong>Mobile</strong><br>
      <%= @intervenant.téléphone_mobile %>
    </p>
    <p>
      <strong>Courriel</strong><br>
      <%= mail_to @intervenant.email %>
    </p>
    <p>
      <strong>Bureau</strong><br>
      <%= @intervenant.bureau %>
    </p>
  </dir>  
  <dir class="col-sm-4">
    <p>
      <strong><%= "Formation".pluralize(@intervenant.formations.pluck(:nom).uniq.count) %></strong>
    </p>
    <%= @intervenant.formations.pluck(:nom).uniq.join(' | ') %>
  </dir>
</div>
<br>

<% if current_user.admin? %>
  <% if @intervenant.audits.any? %>
    <h3>Historique des modifications</h3>
    <table class="table table-condensed">
      <% @intervenant.audits.includes(:user).reverse.each do |audit| %>
        <tr>
          <td><%= l(audit.created_at, format: :short) %></td>
          <td><%= audit.user.email if audit.user %></td>
          <td><%= audit.action %></td>
          <td><%= audit.audited_changes %></td>
        </tr>  
      <% end %>
    </table>
  <% end %>
<% end %>

