<div class="page-header">
  <% if current_user.admin? %>
    <%= link_to intervenants_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    <%= link_to edit_intervenant_path(@intervenant), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifier
    <% end %>
  <% end %>
  
  <h2>
    <%= @intervenant.nom_prenom %> 
  </h2>
</div>
<br>
<p>
  <%= image_tag( @intervenant.linkedin_photo, class: "img-circle", size:'150x150') %>
</p>
<br>

<p>
  <strong>Nom:</strong>
  <%= @intervenant.nom %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @intervenant.prenom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @intervenant.email %>
</p>

<p>
  <strong>Profil LinkedIn:</strong>
  <%= link_to_if @intervenant.linkedin_url, @intervenant.linkedin_url, @intervenant.linkedin_url, target:'_blank' %>
</p>
