<tr>
    <td>
        <%= l vacation.date if vacation.date %>
    </td>
    <td>
        <%= link_to(vacation.formation.nom, vacation.formation) %>
    </td>
    <td>
        <%= vacation.titre %>
    </td>
    <td>
        <%= vacation.intervenant.nom %>
    </td>
    <td>
        <%= vacation.qte %>
    </td>
    <td>
        <%= vacation.forfaithtd %> h
    </td>
    <td>
        <%= vacation.commentaires %>
    </td>
</tr>
