<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag("logo_iae.png") %>
    <br>
    <h3>
        Votre cours du <%= l(@cours.debut, format: :long) %> <br>
        (<%= "#{@cours.nom_ou_ue} - #{@cours.formation.nom}" %>) <br> 
        vient d'être <b><%= @etat %></b>.
    </h3>
    <p>
      <%= link_to "Voir le planning", root_url(formation_id:@cours.formation_id) %>
    </p>
  </body>
</html>