<div class="page-header">
  <% if current_user.try(:admin?) %>	
	  <%= link_to users_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retour
	  <% end %>
	  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Modifier
	  <% end %>
  <% end %>	  
  <h1><%= @user.email %></h1>
</div>

<dl class="dl-horizontal">
</dl>

<p>
	Formation:
	<%= @user.formation.nom_promo if @user.formation %>
</p>

<p>
	Administrateur: 
	<%= @user.admin? ? "Oui" : 'Non' %>
</p>

<% if @user.last_sign_in_at %>
	<p>
		Dernière connexion: 
		<%= l(@user.last_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.last_sign_in_at) %>
	</p>
<% end %>