<div class="page-header">
  <% if current_user.try(:admin?) %>	
	  <%= link_to users_path, class: 'btn btn-default' do %>
	    <span class="glyphicon glyphicon-list-alt"></span>
	    Retour
	  <% end %>
	  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
	    <span class="glyphicon glyphicon-pencil"></span>
	    Modifier
	  <% end %>
  <% end %>	  
  <h1><%= @user.email %></h1>
</div>

<dl class="dl-horizontal">
</dl>

<p>
	Formation:
	<%= @user.formation.nom_promo if @user.formation %>
</p>

<p>
	Administrateur: 
	<%= @user.admin? ? "Oui" : 'Non' %>
</p>

<% unless @user.sign_in_count.zero? %>
	<p>
		Connexion actuelle: 
		le <%= l(@user.current_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.current_sign_in_at) %>
	</p>
	<p>
		Dernière connexion: 
		le <%= l(@user.last_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.last_sign_in_at) %>
	</p>
	<p>
		Nbr connexions: <%= @user.sign_in_count %> 
	</p>
<% end %>
<br>

<% if current_user.admin? %>
  <% if @user.audits.any? %>
    <h3>Historique des modifications</h3>
    <table class="table table-condensed">
      <% @user.audits.includes(:user).reverse.each do |audit| %>
        <tr>
          <td><%= l(audit.created_at, format: :short) %></td>
          <td><%= audit.user.email if audit.user %></td>
          <td><%= audit.action %></td>
          <td><%= audit.audited_changes %></td>
        </tr>  
      <% end %>
    </table>
  <% end %>
<% end %>