<div class="page-header">
  <%= link_to new_document_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Document
  <% end %>
  <h1>Liste des documents</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Formation</th>
        <th>UE</th>
        <th>Intervenant</th>
        <th>Voir</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @documents) do |document| %>
          <td><%= document.nom %></td>
          <td><%= document.formation.nom_promo %></td>
          <td><%= document.unite.num_nom if document.unite %></td>
          <td><%= document.intervenant.nom_prenom %></td>
          <td>
            <%= link_to document.fichier.url, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_document_path(document), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <%= link_to(document, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          </td>
      <% end %>
    </tbody>
  </table>
</div>
