<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
  
    <body>
        <%= image_tag("logo_iae.png") %>

        <h2>Rappel de vos cours du mois prochain :</h2>

        <table>
            <tbody>
                <% @les_cours.each do |c| %>
                    <tr>
                        <td><%= c %></td>
                    </tr>
                <% end %>
                <br>
            </tbody>
            <br>
        </table>

        <p>
            Merci de vérifier ce récapitulatif.<br>
            En cas d'erreur/omission/modification, 
            merci de prendre contact avec votre gestionnaire de formation au plus vite.<br>
            <%= @gestionnaires.each do | f, g | %>
                <%= f %> => <%= g ? g : '?' %><br>
            <% end %>

            Bien cordialement<br>
            IAE Paris  
        </p>
    </body>
</html>