<div class="row">
    <div class="col-md-12">
      <%= month_calendar events: @cours do |date, meetings| %>
        <span class="calendar_day">
          <%= date.day %>
        </span>

        <% meetings.each do |meeting| %>
          <div class="meeting">
            <b>
              <%= "#{l(meeting.debut, format: :heures_min)}-#{l(meeting.fin, format: :heures_min)}" %>
              <%= "(#{meeting.salle.nom})" if meeting.salle %>  
            </b>
            <br>
            <%= link_to meeting.formation.nom, meeting %> / 
            <%= link_to meeting.intervenant.nom_prenom, meeting %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>