<% if cours.formation != formation %>
    <% formation = cours.formation %>
    <tr><td><b><%= formation.try(:nom) %></b></td></tr>
<% end %>

<tr>
    <td style="width:250px;">
        <%= l(cours.debut.to_date, format: :long) %>
    </td>
    <td>
        <%= l(cours.debut, format: :heures_min) %>
        <%= l(cours.fin, format: :heures_min) %>
    </td>
    <td>
        <%= number_with_precision(cours.duree, precision: 1) %>h
    </td>
    <td>    
        <%= cours.intervenant.nom_prenom %>
        <% if cours.intervenant_binome %>
            <br>
            <%= cours.intervenant_binome.nom_prenom %>
        <% end %>
    </td>
    <td>
        <%= cours.try(:ue) %>
    </td>
    <td>
        <% if cours.url? && cours.elearning  %>
            <%= cours.nom %>
            (E-learning)
        <% else %>         
            <%= cours.nom_ou_ue %>
        <% end %>
    </td>
    <% if show_comments %>
        <td>
            <%= cours.commentaires %>
        </td>
    <% end %>
</tr>
