<tr>
  <td>
    <h3><%= l(cours.debut, format: :heures_min) %></h3>
    <%= l(cours.fin, format: :heures_min) %>
  </td>
  <td>
    <h3><%= cours.formation.nom_promo %></h3>
    <h4><%= link_to cours.nom_ou_ue, cours %></h4>

    <% if true %>
      <% pct = cours.progress_bar_pct(@nil) %>
      <% if pct >= 0 && pct <= 100 %>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" 
              role="progressbar" aria-valuemin="0" aria-valuemax="100" 
              style="width:<%= pct %>%">
          </div>
        </div>
      <% else %>
        <br><br>
      <% end %>
    <% end %>
  </td>
  <td style="vertical-align: middle;">
    <h3>
      <%= cours.intervenant.nom_prenom %>
      <% if cours.intervenant_binome_id %>
          / <%= cours.intervenant_binome.nom_prenom %>
      <% end %>
    </h3>
  </td>
  <td style="text-align: center;vertical-align: middle;">
    <% if salle = cours.salle %>
      <h2>
        <span class="label <%= cours.style %>">
          <%= salle.nom %>
        </span>
      </h2>
    <% else %>
      <h3><i class="glyphicon glyphicon-warning-sign"></i></h3>
    <% end %>
  </td>
</tr>
