
<%= form_tag(cours_action_do_path) do %>
	<h2><%= params[:action_name] %></h2>
  <br>

	<%= hidden_field_tag :action_name, params[:action_name] %>

  <div class="col-sm-12">
    <h4>Cours sélectionnés</h4>

    <ul class="list-group">
      <% if @action_ids %>
    		<% @action_ids.each do |id| %>
    			<% @cours = Cour.find(id) %>
          
    			<li class="list-group-item">
    				<%= check_box_tag "[cours_id][#{@cours.id}]", true, true %>
    				<%= l(@cours.debut.to_date) %>
            <%= "#{l(@cours.debut, format: :heures_min)}-#{l(@cours.fin, format: :heures_min)}" %> |
            <%= @cours.formation.nom_promo %> |
            <%= @cours.intervenant.nom_prenom %> |
            <span class="label <%= @cours.style %>"><%= @cours.etat.humanize %></span> |
            <%= "Salle: #{@cours.salle.nom} |" if @cours.salle %>
            <%= "Créé par #{User.find(@cours.audits.first.user_id).email}" %>
    			</li>
        <% end %>
      <% end %>
  	</ul>
  </div>

  <% if params[:action_name] == "Changer de salle" %>  
    <div class="col-sm-2">
      <%= label_tag "Nouvelle Salle" %>    
      <%= select_tag :salle_id, 
            options_from_collection_for_select(Salle.order(:nom), :id, :nom, params[:salle_id]), 
            include_blank:true, class:"form-control" %>
    </div>
  <% elsif params[:action_name] == "Changer d'état" %>
    <div class="col-sm-2">
      <%= label_tag "Nouvel état" %>    
      <%= select_tag :etat, options_for_select(Cour.etats, params[:etat]), include_blank:true,
                      class:"form-control" %>
    </div>
    <div class="col-sm-6">
      <%= label_tag "Notification" %><br>
      <%= check_box_tag :email, 1, true %> Prévenir les participants par courriel ?
      <%= check_box_tag :sms %> Prévenir les participants par SMS ?
    </div>
  <% elsif params[:action_name] == "Supprimer" %>
    <div class="col-sm-6">
      <%= label_tag "Confirmation :" %><br>
      <%= check_box_tag :delete %> Suppression définitive de tous les cours sélectionnés ?
      <br>
      <i>Les cours ne seront supprimés que si c'est leur créateur qui le demande !</i>
      <br><br>
    </div>
  <% end %>

  <div class="col-sm-12">
    <%= submit_tag 'Appliquer', class:"btn btn-success" %>
  </div>
<% end %>
