<script type="text/javascript">    
    setInterval(function() {
        window.location.reload();
    }, 5*60000); 
</script>


<br>

<% if @cours.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Heure</th>
        <th>Formation</th>
        <th />
        <th>Intervenant</th>
        <th>Etat</th>
        <th>Salle</th>
      </tr>
    </thead>

    <% if @cours.any? %>
      <tbody>
        <% @cours.includes(:formation, :intervenant, :salle).each do | cours | %>
          <tr>
            <td>
              <h3><%= l(cours.debut, format: :heures_min) %></h3>
              <%= l(cours.fin, format: :heures_min) %>
            </td>
            <td>
              <h3><%= cours.formation.nom_promo %></h3>
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" 
                     role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                     style="width:<%= cours.progress_bar_pct %>%">
                </div>
              </div>
            </td>
            <td style="vertical-align: middle">
              <% unless cours.intervenant.linkedin_photo.blank? %>
                <%= image_tag(cours.intervenant.linkedin_photo, class: "img-circle", size:'60x60') %>
              <% end %>
            </td>
            <td style="vertical-align: middle">
              <h3><%= cours.intervenant.nom_prenom %></h3>
            </td>
            <td style="vertical-align: middle">
              <h3><span class="label <%= cours.style %>"><%= cours.etat.humanize %></span><h3>
            </td>
            <td style="vertical-align: middle">
              <% if cours.salle %>
                <h3><%= cours.salle.nom %></h3>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <th /><th /><th /><th /><th /><th />
      </tfoot>
    <% end %>
  </table>
<% end %>

Màj: <%= l(DateTime.now) %>

