<script type="text/javascript">    
    setInterval(function() {
        window.location.reload();
    }, 1*60000); 
</script>

<div class="container-fluid">

  <%= form_tag request.path, method: :get do %>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= label_tag "Date" %>
          <div class="input-group">  
            <%= link_to '<<', cours_path(start_date:(@date - 1.month)), class:"btn btn-default btn-sm" %>
            <%= link_to '<',  cours_path(start_date:(@date - 1.day)), class:"btn btn-default btn-sm" %>

            <%= l(@date.to_date, format: :short).humanize %>
            
            <%= link_to '>',  cours_path(start_date:(@date + 1.day)), class:"btn btn-default btn-sm" %>
            <%= link_to '>>', cours_path(start_date:(@date + 1.month)), class:"btn btn-default btn-sm" %>
            <%= link_to "Aujourd'hui", cours_path(start_date:Date.today), class:"btn btn-default btn-sm" %>
          </div>
        </div>

        <div class="col-sm-6">
          <%= label_tag "Formation" %>    
          <%= select_tag :formation, grouped_options_for_select(Formation.for_select, params[:formation]), class:"form-control", include_blank:true, onchange:'this.form.submit()' %>
        </div>

        <div class="col-sm-5">
          <%= label_tag "Intervenant" %>    
          <div class="input-group">
            <%= select_tag :intervenant, grouped_options_for_select(Intervenant.for_select, params[:intervenant]), class:"form-control", include_blank:true, onchange:'this.form.submit()' %>
            <span class="input-group-btn">
              <%= submit_tag 'Filtrer', class:"btn btn-success" %>
            </span>
          </div>
        </div>
    </div>
  <% end %>

  <% if @cours.any? %>
    <% @cours.includes(:formation, :intervenant, :salle).each do | cours | %>
      <hr>
      <h4>
        <%= l(cours.debut, format: :heures_min) %>
        <small>- <%= l(cours.fin, format: :heures_min) %></small>
        <div class="pull-right">
          <% if cours.salle %>
            <span class="label <%= cours.style %>">
              <%= cours.salle.nom %>
            </span>
          <% end %>
        </div>
      </h4>

      <b><%= cours.formation.nom %></b><br>
      <%= cours.intervenant.nom_prenom %><br>
      <% if cours.intervenant_binome %>
        <br>
        <%= cours.intervenant_binome.nom_prenom %>
      <% end %>

      <% if cours.url? %>
        <%= link_to cours.nom, cours.nom, target:"_blank" %>
      <% else %>         
        <i><%= cours.nom_ou_ue %></i><br>
      <% end %>
      
      <% if (cours.debut.to_date == Date.today && cours.progress_bar_pct(DateTime.now) > 0) %>  
        <br>
        <div class="progress" style="width: 100%">
          <div class="progress-bar progress-bar-striped active" 
               role="progressbar" aria-valuemin="0" aria-valuemax="100" 
               aria-valuenow="<%= cours.progress_bar_pct(DateTime.now) %>" 
               style="width:<%= cours.progress_bar_pct(DateTime.now) %>%">
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</div>


