<script type="text/javascript">    
    setInterval(function() {
        window.location.reload();
    }, 1*60000); 
</script>
<br><br>

<div class="container-fluid">

  <%= form_tag request.path, method: :get do %>
    <%= hidden_field_tag :planning_date, @planning_date %>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= label_tag "Date" %>  
          <h5>
            <%= link_to '<<', cours_planning_path(planning_date:(@planning_date - 1.month)), class:"btn btn-default btn-xs" %>
            <%= link_to '<', cours_planning_path(planning_date:(@planning_date - 1.day)), class:"btn btn-default btn-xs" %>

            <%= l(@planning_date.to_date, format: :long).humanize %>
            
            <%= link_to '>', cours_planning_path(planning_date:(@planning_date + 1.day)), class:"btn btn-default btn-xs" %>
            <%= link_to '>>', cours_planning_path(planning_date:(@planning_date + 1.month)), class:"btn btn-default btn-xs" %>
          </h5>
        </div>

        <div class="col-sm-6">
          <%= label_tag "Formation" %>    
          <div class="input-group">
            <%= select_tag :formation_id, 
                  options_from_collection_for_select(@cours.collect{|c| c.formation}.uniq, :id, :nom_promo, params[:formation_id]), include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
            <span class="input-group-btn">
              <%= submit_tag 'Filtrer', class:"btn btn-success" %>
            </span>
          </div>
      </div>
    </div>
  <% end %>

  <% if @cours.any? %>
    <% @cours.includes(:formation, :intervenant, :salle).each do | cours | %>
      <hr>
      <h4>
        <%= l(cours.debut, format: :heures_min) %> -
        <%= l(cours.fin, format: :heures_min) %>
        <% if cours.salle %>
          <span class="label <%= cours.style %>">
            <%= cours.salle.nom %>
          </span>
        <% end %>
      </h4>

      <b><%= cours.formation.nom_promo %></b><br>
      <%= cours.intervenant.nom_prenom %><br>
      <% if cours.intervenant_binome %>
        <br>
        <%= cours.intervenant_binome.nom_prenom %>
      <% end %>
      <i><%= cours.nom_ou_ue %></i><br>
      
      <% if (cours.debut.to_date == Date.today && cours.progress_bar_pct(@planning_date) > 0) %>  
        <br>
        <div class="progress" style="width: 100%">
          <div class="progress-bar progress-bar-striped active" 
               role="progressbar" aria-valuemin="0" aria-valuemax="100" 
               aria-valuenow="<%= cours.progress_bar_pct(@planning_date) %> " 
               style="width:<%= cours.progress_bar_pct(@planning_date) %>%">
          </div>
        </div>
      <% end %>
    <% end %>
    <hr>
  <% end %>
</div>


