<h1>Liste des cours</h1>
<div class='container-fluid'>
  <div class='row'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
              <%= label_tag "Formation" %>    
              <%= select_tag :formation_id, 
                    options_from_collection_for_select(Formation.all, :id, :nom_promo, params[:formation_id]), include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>
          <div class="col-sm-5">
              <%= label_tag "Intervenant" %>    
              <div class="input-group">
              <%= select_tag :intervenant_id, 
                    options_from_collection_for_select(Intervenant.all, :id, :nom_prenom, params[:intervenant_id]), 
                      include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
                <span class="input-group-btn">
                    <%= submit_tag 'Rechercher', class:"btn btn-primary" %>
                    <% if current_user.try(:admin?) %>
                      <%= link_to 'Ajouter', new_cour_path, class:"btn btn-success" %>
                    <% end %>
                </span>
              </div>
          </div>
        </div>
        <br>
    
        <div class="row">
          <div class="col-sm-2">
            <%= label_tag "Date" %>    
            <%= text_field_tag :date, params[:date], type:'date', class:"form-control" %>
          </div>

          <div class="col-sm-2">
              <%= label_tag :ue, "UE" %>    
              <%= select_tag :ue, options_for_select(['UE1','UE2','UE3','UE4','UE5','UE6','UE7'], params[:ue]), 
                        include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>
          <div class="col-sm-2">
              <%= label_tag "Salle" %>    
              <%= select_tag :salle_id, 
                      options_from_collection_for_select(Salle.all, :id, :nom, params[:salle_id]), 
                        include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>
          <div class="col-sm-2">
            <%= label_tag :etat, "Etat" %>
            <%= select_tag :etat, options_for_select(Cour.etats, params[:etat]), include_blank:true,
                    class:"form-control", onchange:'this.form.submit()' %>
          </div>

          <div class="col-sm-3">
            <%= label_tag "Vue" %>
            <br> 
            <%= radio_button_tag :view, "list",  (params[:view]=='list'), onchange:'this.form.submit()' %>
            Liste 
            <%= radio_button_tag :view, "calendar_week", (params[:view]=='calendar_week'), onchange:'this.form.submit()' %>
            Semaine 
            <%= radio_button_tag :view, "calendar_month", (params[:view]=='calendar_month'), onchange:'this.form.submit()' %>
            Mois 
          </div>
        </div>
      </div>  
    <% end %>
  </div>
  <div class='row'>
    <br>
  </div>
</div>

<% if params[:view] == "calendar_month" %>
  <div class="row">
    <div class="col-md-12">
      <%= month_calendar events: @cours do |date, meetings| %>
        <span class="calendar_day">
          <%= date.day %>
        </span>

        <% meetings.each do |meeting| %>
          <div class="meeting">
            <b><%= l(meeting.debut, format: :heures_min) %></b>
            <%= link_to meeting.formation.nom, meeting %> / 
            <%= link_to meeting.intervenant.nom_prenom, meeting %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif params[:view] == "calendar_week" %>

  <div class="row">
    <div class="col-md-12">
      <%= week_calendar events: @cours do |date, meetings| %>
        <span class="calendar_day">
          <%= date.day %>
        </span>

        <% meetings.each do |meeting| %>
          <div class="meeting">
            <b><%= l(meeting.debut, format: :heures_min) %></b>
            <%= link_to meeting.formation.nom, meeting %> / 
            <%= link_to meeting.intervenant.nom_prenom, url_for(params.merge(intervenant_id:meeting.intervenant_id)) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<% elsif params[:view] == "list" %>
  <% if @cours.any? %>
    <div class="table-responsive">
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <tr>
            <th>Date</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Durée</th>
            <th>Salle</th>
            <th>Formation</th>
            <th>Intervenant</th>
            <th>Intitulé cours</th>
            <th>Etat</th>
            <% if current_user.try(:admin?) %>
              <th colspan="2"></th>
            <% end %>
          </tr>
        </thead>

        <% if @cours.any? %>
          <tbody>
            <% current_date = "" %>
            <% sum_duree = 0.0 %>
            <% @cours.each do |cours| %>
              <% sum_duree += cours.duree %>
              <tr>
                <td>
                    <% if cours.debut.to_date != current_date   %>
                      <b><%= l(cours.debut.to_date) %></b> 
                      <% current_date = cours.debut.to_date %>
                    <% end %>  
                </td>
                <td><%= l(cours.debut, format: :heures_min) %></td>
                <td><%= l(cours.fin, format: :heures_min) %></td>
                <td>
                  <span class="pull-right">
                    <%= number_with_precision(cours.duree, precision: 1) %>h
                  </span>
                </td>
                <td><%= cours.salle.nom if cours.salle %></td>
                <td><%= link_to cours.formation.nom_promo, cours.formation %></td>
                <td><%= cours.intervenant.nom_prenom %></td>
                <td><b><%= link_to cours.nom, cours %><b></td>
                <td>
                  <span class="label <%= cours.style %>"><%= cours.etat.humanize %></span>
                </td>

                <% if current_user.try(:admin?) %>
                  <td>
                    <%= link_to edit_cour_path(cours), class: "btn btn-default" do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to(cours, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                      <i class="glyphicon glyphicon-remove"></i>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <th /><th /><th />
              <th>
                <span class="pull-right">
                  <%= number_with_precision(sum_duree, precision: 1) %>h
                </span>
              </th>
              <% 5.times do %><th /><% end %>
              <% if current_user.try(:admin?) %>
                <th colspan="2"></th>
              <% end %>
            </tr>
          </tfoot>
        <% end %>
      </table>
    </div>
    <br>
  <% end %>
<% end %>

