<br>

<h2>
  <%= @cour.formation.nom_promo_etudiants %>
</h2>

<h3>
  <%= @cour.nom %>
</h3>
<br>

<p>
  <strong>Etat:</strong>
  <span class="label <%= @cour.style %>"><%= @cour.etat.humanize %></span>
</p>
<br>

<p>
  <strong>Début:</strong>
  <%= l(@cour.debut, format: :long) %>
</p>

<p>
  <strong>Fin:</strong>
  <%= l(@cour.fin, format: :long) %>
</p>

<p>
  <strong>Durée:</strong>
  <%= @cour.duree %>h
</p>

<p>
  <strong>Intervenant:</strong>
  <%= @cour.intervenant.nom_prenom %>
</p>

<p>
  <strong>UE:</strong>
  <%= @cour.ue %>
</p>


<p>
  <strong>Salle:</strong>
  <%= @cour.salle.nom_places if @cour.salle %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Modifier', edit_cour_path(@cour) %> |
  <%= link_to 'Retour', cours_path %>
<% end %>

<% if current_user.admin? %>
  <% if @cour.audits.any? %>
    <br>
    <br>
    <h4>Historique</h4>
    <table class="table">
      <% @cour.audits.reverse.each do |audit| %>
        <tr>
          <td><%= l(audit.created_at) %></td>
          <td><%= audit.user.email if audit.user %></td>
          <td><%= audit.action %></td>
          <td><%= audit.audited_changes %></td>
        </tr>  
      <% end %>
    </table>
  <% end %>
<% end %>