<%= bootstrap_form_for(@formation) do |f| %>
  <% if @formation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formation.errors.count, "error") %> prohibited this formation from being saved:</h2>

      <ul>
      <% @formation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-5">
        <%= f.text_field :nom %>
        <%= f.text_field :promo %>
        <%= f.text_field :diplome, label:"Diplôme" %>
        <%= f.text_field :domaine %>
        <%= f.check_box :apprentissage, label:"Apprentissage ?" %>
        <%= f.number_field :nbr_etudiants, label:"Nombre d'étudiants" %>
        <%= f.text_area :memo, label:"Mémo" %>
        <%= f.submit class: "btn btn-primary" %>
      </div>

      <div class="col-sm-1">
      </div>

      <div class="col-sm-6">
        <h4>UE</h4>
        <ul>
          <%= f.fields_for :unites do |ue| %>
            <div class="row">
              <li>
                <div class="col-sm-2">
                  <%= ue.text_field :num, label:"N°" %>
                </div>  
                <div class="col-sm-10">
                  <%= ue.text_field :nom %>
                  <%= ue.check_box :_destroy, label:"Supprimer ?" %>
                </div>
              </li> 
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>