<div class="page-header">
  <%= link_to new_formation_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Formation
  <% end %>
  <h1>
    <span class="glyphicon glyphicon-education"></span>
    Liste des formations
  </h1>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <%= label_tag :nom, "Nom/Abr." %>    
            <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-2">
            <%= label_tag "Promotion" %>    
            <%= select_tag :promo, 
                  options_for_select(Formation.select(:promo).uniq.pluck(:promo).sort, params[:promo]), 
                    include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-2">
            <%= label_tag :apprentissage, "Apprentissage ?" %>
            <br>    
            <%= check_box_tag :apprentissage, 1, params[:apprentissage], 
                  onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-2">
            <%= label_tag "Diplôme" %>    
            <div class="input-group">
              <%= select_tag :diplome, 
                  options_for_select(Formation.where.not(diplome:nil).select(:diplome).uniq.pluck(:diplome).sort, params[:diplome]), include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
                <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class:"btn btn-success" %>
              </span>
             </div> 
          </div>

          <div class="col-sm-2">
              <%= label_tag "Afficher" %>
              <br> 
              <%= radio_button_tag :paginate, "pages", (params[:paginate]=='pages'), onchange:'this.form.submit()' %>
              Pages 
              <%= radio_button_tag :paginate, "all", (params[:paginate]=='all'), onchange:'this.form.submit()' %>
              Tout 
          </div>
          
        </div>
      </div>  
    <% end %>
</div>

<% if @formations.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th colspan="2">Nom de la formation</th>
          <th>Promotion</th>
          <th>Gestionnaire</th>
          <th>Abr.</th>
          <th>UE</th>
          <th>Etudiants</th>
          <th>Cours planifiés</th>
          <th>Confirmés</th>
          <th>Réalisés</th>
          <% if current_user.try(:admin?) %>
            <th colspan="2"></th>
          <% end %>  
        </tr>
      </thead>

      <tfoot>
        <tr>
          <% 6.times do %><th><% end %>
          <th>
            <% if params[:paginate] == 'all' or @formations.total_pages == @formations.current_page %>
              <%= @all_formations.sum(:nbr_etudiants) %>
            <% end %>
          </th>
          <th /><th /><th />
          <% if current_user.try(:admin?) %>
            <th /><th />
          <% end %>  
        </tr>
      </tfoot>

      <tbody>
        <% @formations.includes(:unites).each do |formation| %>
          <tr>
            <td><span style="background-color:<%= formation.color %>;padding-left: 7px;"></span></td>
            <td><%= link_to formation.nom, formation  %></td>
            <td><%= formation.promo %></td>
            <td><%= formation.user.nom if formation.user %></td>
            <td><%= formation.abrg %></td>
            <td><%= formation.unites.count %></td>
            <td><%= formation.nbr_etudiants %></td>
            <td>
              <%= link_to formation.cours.planifié.count, cours_path(formation_id:formation, etat:Cour.etats[:planifié], filter:'all') %>
            </td>
            <td>
              <%= link_to formation.cours.confirmé.count, cours_path(formation_id:formation, etat:Cour.etats[:confirmé], filter:'all') %>
            </td>
            <td>
              <%= link_to formation.cours.réalisé.count, cours_path(formation_id:formation, etat:Cour.etats[:réalisé], filter:'all') %>
            </td>
            <% if current_user.admin? %>
              <td>
                <%= link_to edit_formation_path(formation), class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>
              <td>
                <% unless formation.cours.any? %>
                  <%= link_to(formation, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                    <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if params[:paginate] == 'pages' %>
      <div class="page_info">
        <%= page_entries_info @formations %>
      </div>
      <%= will_paginate @formations, renderer: BootstrapPagination::Rails %>
    <% end %>  
  </div>
<% end %>
<br>
