<div class="page-header">
  <%= link_to new_formation_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Formation
  <% end %>
  <h1>
    <span class="glyphicon glyphicon-education"></span>
    Liste des formations
  </h1>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-3">
            <%= label_tag "Nom" %>    
            <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-2">
            <%= label_tag "Diplôme" %>    
            <%= select_tag :diplome, 
                  options_for_select(Formation.select(:diplome).uniq.pluck(:diplome).sort, params[:diplome]),   include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-2">
            <%= label_tag :apprentissage, "Apprentissage ?" %>
            <br>    
            <%= check_box_tag :apprentissage, 1, params[:apprentissage], 
                  onchange:'this.form.submit()', class:"form-control" %>
          </div>
          
          <div class="col-sm-3">
            <%= label_tag "Promotion" %>    
            <div class="input-group">
            <%= select_tag :promo, 
                  options_for_select(Formation.select(:promo).uniq.pluck(:promo).sort, params[:promo]), 
                    include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
              <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class:"btn btn-success" %>
              </span>
            </div>
          </div>
        </div>
      </div>  
    <% end %>
</div>

<% if @formations.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Abr.</th>
          <th>Diplôme</th>
          <th>Promotion</th>
          <th>Domaine</th>
          <th>UE</th>
          <th>Etudiants</th>
          <% if current_user.try(:admin?) %>
            <th colspan="2"></th>
          <% end %>  
        </tr>
      </thead>

      <tfoot>
        <tr>
          <% 6.times do %><th><% end %>
          <th><span class="pull-right"><%= @formations.sum(:nbr_etudiants) %></span></th>
          <% if current_user.try(:admin?) %>
            <th /><th />
          <% end %>  
        </tr>
      </tfoot>

      <tbody>
        <% @formations.includes(:unites).each do |formation| %>
          <tr>
            <td><%= link_to formation.nom, formation  %></td>
            <td><%= formation.abrg %></td>
            <td><%= formation.diplome %></td>
            <td><%= formation.promo %></td>
            <td><%= formation.domaine %></td>
            <td><span class="pull-right"><%= formation.unites.count %></span></td>
            <td><span class="pull-right"><%= formation.nbr_etudiants %></span></td>
            <% if current_user.admin? %>
              <td>
                <%= link_to edit_formation_path(formation), class: "btn btn-default" do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>
              <td>
                <% unless formation.cours.any? %>
                  <%= link_to(formation, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                    <i class="glyphicon glyphicon-remove"></i>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @cours, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>
<br>
