<div class="page-header">
  <% if current_user.admin? %>
    <%= link_to formations_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    <%= link_to edit_formation_path(@formation), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifier
    <% end %>
  <% end %>
  
  <h2>
    <%= @formation.nom %>
  </h2>

</div>

<dl class="dl-horizontal">
</dl>

<p>
  <strong>Promo:</strong>
  <%= @formation.promo %>
</p>

<p>
  <strong>Diplôme:</strong>
  <%= @formation.diplome %>
</p>

<p>
  <strong>Domaine:</strong>
  <%= @formation.domaine %>
</p>

<p>
  <strong>Apprentissage:</strong>
  <%= @formation.apprentissage ? "Oui" : "Non" %>
</p>

<p>
  <strong>Nbr étudiants:</strong>
  <%= @formation.nbr_etudiants %>
</p>

<p>
  <strong>Nbr comptes utilisateurs:</strong>
  <%= link_to @formation.users.count, users_path(formation_id: @formation.id) %>
</p>

<p>
  <strong>Mémo:</strong>
  <%= @formation.memo %>
</p>

<h3>Les Unités d'Enseignement:</h3>
<p>
  <ul>
  <% @formation.unites.each do | unite | %>
    <li>
      <%= unite.num %> : <%= unite.nom %>
    </li>
  <% end %> 
  </ul>
</p>
<br>

