<div class="page-header">
  <%= link_to new_salle_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Ajouter
  <% end %>
  <h1>
    <span class="glyphicon glyphicon-blackboard"></span>
    Liste des salles
  </h1>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= label_tag "Salle" %>    
              <%= select_tag :salle_id, 
                      options_from_collection_for_select(Salle.order(:nom), :id, :nom, params[:salle_id]), 
                        include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-3">
            <%= label_tag "Date de réservation" %>    
            <div class="input-group">
              <%= text_field_tag :date, params[:date], type:'date', onchange:'this.form.submit()', class:"form-control" %>
              <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class:"btn btn-success" %>
              </span>
            </div>
          </div>

          <% unless params[:date].blank? %>
            <div class="col-sm-3">
              <%= label_tag :libre, "Que les salles libres ?" %>
              <br>    
              <%= check_box_tag :libre, 1, params[:libre], 
                    onchange:'this.form.submit()', class:"form-control" %>
            </div>
          <% end %>

        </div>
      </div>  
    <% end %>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Places</th>
        <th>Cours</th>
        <th>Créneaux horaires occupés</th>
        <th>08h-09h-10h-11h-12h-13h-14h-15h-16h-17h-18h-19h-20h-21h-22h</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <% 6.times do %><th /><% end %>
      </tr>
    </tfoot>

    <tbody>
      <% @salles.each do |salle| %>
        <% if @date %>
          <% @cours = Cour.where("salle_id = ? AND cours.debut BETWEEN DATE(?) AND DATE(?)", salle.id, @date, @date + 1.day) %>
        <% else %>
          <% @cours = salle.cours %>
        <% end %>

        <tr>
          <td><b><%= salle.nom %></b></td>
          <td><%= salle.places %></td>
          <td><%= link_to @cours.count, cours_path(date:@date, salle_id:salle.id) %></td>
          <td>
            <% if @cours.count > 0 and @date %>
              <% range = [] %>
              <% @cours.each do | cours | %>
                  <% range += cours.range %>
              <% end %>
              <%= range.sort.uniq.join('-') %>
            <% end %>
          </td>

          <td>
            <% if range %>
              <% map = [8,9,10,11,12,13,14,15,16,17,18,19,20,21,22].map {|i| range.include?(i) ? '.O.' : '__' } %>
              <b><%= map.join(' - ') %></b>
            <% end %>
          </td>

          <td>
            <%= link_to edit_salle_path(salle), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <% unless salle.cours.any? %>
              <%= link_to(salle, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
