<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to new_salle_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Ajouter
    <% end %>
  </div>
  <h1>
    <span class="glyphicon glyphicon-blackboard"></span>
    Liste des salles
  </h1>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <%= label_tag "Subjet" %>    
              <%= select_tag :subjet_id, 
                      options_from_collection_for_select(Salle.order(:nom), :id, :nom, params[:salle_id]), 
                        include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>
        </div>
      </div>  
    <% end %>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Nom salle</th>
        <th>Bloc</th>
        <th>Nbr places</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th /><th /><th /><th />
      </tr>
    </tfoot>

    <tbody>
      <% @salles.each do |salle| %>
        <tr>
          <td><b><%= salle.nom %></b></td>
          <td><%= salle.bloc %></td>
          <td><%= salle.places %></td>
          <td>
            <%= link_to edit_salle_path(salle), class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <% unless Cour.where(salle_id:salle).any? %>
              <%= link_to(salle, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

