<div class="page-header">
  <% if current_user.admin? %>
    <%= link_to salles_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
    <%= link_to edit_salle_path(@salle), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modifier
    <% end %>
  <% end %>
  
  <h2>
    <%= @salle.nom %>
  </h2>
</div>

<p>
  <strong>Places:</strong>
  <%= @salle.places %>
</p>

<p>
  <strong>Bloc:</strong>
  <%= @salle.bloc %>
</p>
