<script>
  $(document).ready(function() { $(".select2").select2({theme: "bootstrap"}); });
</script>

<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to new_etudiant_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Etudiant
    <% end %>
  </div>
  <h1>
    <span class="glyphicon glyphicon-education"></span>
    Liste des étudiants
  </h1>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">

          <div class="col-sm-5">
            <%= label_tag :nom, "Nom" %>    
            <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-5">
            <%= label_tag "Formation" %>    
            <div class="input-group">
              <%= select_tag :formation_id, 
                    options_from_collection_for_select(Formation.unscoped.all, :id, :nom, params[:formation_id]), 
                      class:"form-control select2", include_blank:true, onchange:'this.form.submit()' %>
              <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class:"btn btn-success" %>
              </span>
            </div> 
          </div>
          
        </div>
      </div>  
    <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link 'etudiants.nom', 'Nom' %></th>
        <th>Prénom</th>
        <th><%= sort_link 'etudiants.email', 'Email' %></th>
        <th><%= sort_link 'etudiants.mobile', 'Mobile' %></th>
        <th>Formation</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @etudiants %>
    </tbody>
  </table>

  <div class="page_info">
      <%= page_entries_info @etudiants, model: 'Etudiant' %>
  </div>
  
  <%= will_paginate @etudiants, renderer: BootstrapPagination::Rails %>
</div>
