<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to edit_etudiant_path(@etudiant), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modification
    <% end %>

    <a href="#audit" data-toggle="collapse" class='btn btn-default'>
      <span class="glyphicon glyphicon-search"></span>
      Audit
    </a>

    <%= link_to etudiants_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
  </div>
  <br><br>
</div>

<h1><%= @etudiant.nom %> <%= @etudiant.prénom %></h1>
<br><br>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @etudiant.email %></dd>

  <dt>Mobile:</dt>
  <dd><%= @etudiant.mobile %></dd>

  <dt>Formation:</dt>
  <dd><%= link_to @etudiant.formation.nom, @etudiant.formation %></dd>
</dl>

<div id="audit" class="collapse">
  <% if current_user.admin? %>
    <% if @etudiant.audits.any? %>
      <h3>Audit des modifications</h3>
      <table class="table table-condensed">
        <% @etudiant.audits.includes(:user).reverse.each do |audit| %>
          <tr>
            <td><%= l(audit.created_at, format: :short) %></td>
            <td><%= audit.user.email if audit.user %></td>
            <td><%= audit.action %></td>
            <td><%= sanitize audit.pretty_changes %></td>
          </tr>  
        <% end %>
      </table>
    <% end %>
  <% end %>
</div> 
