<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to edit_etudiant_path(@etudiant), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modification
    <% end %>

    <a href="#audit" data-toggle="collapse" class='btn btn-default'>
      <span class="glyphicon glyphicon-search"></span>
      Audit
    </a>

    <%= link_to etudiants_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
  </div>
  <br><br>
</div>

<h1><%= @etudiant.nom %> <%= @etudiant.prénom %></h1>
<br><br>

<dl class="dl-horizontal">
  <dt>Nom:</dt>
  <dd><%= @etudiant.nom %></dd>

  <dt>Prénom:</dt>
  <dd><%= @etudiant.prénom %></dd>

  <dt>Email:</dt>
  <dd><%= @etudiant.email %></dd>

  <dt>Mobile:</dt>
  <dd><%= @etudiant.mobile %></dd>

  <dt>Formation:</dt>
  <dd><%= link_to @etudiant.formation.try(:nom), @etudiant.formation %></dd>
</dl>
<br />

<div id="audit" class="collapse-out">
  <h3><span class="glyphicon glyphicon-search"></span> Audit des modifications</h3>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <th>Date</th>
      <th>Utilisateur</th>            
      <th>Type</th>
      <th>Record_id</th>
      <th>Action</th>
      <th>Modifications</th>
    </thead>
    <%= render partial: 'tools/audit', collection: @etudiant.audits %>
  </table>
</div> 
